<div class="favourite-courts-wrapper">

  <ion-view view-title="Priljubljena igrišča">
    <ion-content>

      <ion-list>
        <ion-item class="item-avatar item-text-wrap item-icon-right"
                  ng-repeat="court in courts | filter: {favourites: true}"
                  ng-class="{'favorites': court.favourites}"
        >
          <img ng-src="{{court.image}}">
          <h2 class="court-title">{{court.name}}</h2>
          <h4 class="court-address">{{court.address}}, {{court.postalCode}} {{court.location}}</h4>
          <p class="description">{{court.fulldescription | limitTo: 100}}
            {{court.fulldescription.length > 120 ? "..." : ""}}</p>
          <a class="button button-small button-clear icon-left ion-calendar button-balanced"
             href="#/app/court-booking/{{court.courtNumber}}/{{court.name}}"
          >Rezerviraj</a>

          <a class="button button-small button-clear icon-left ion-ios-information-outline button-balanced"
             href="#/app/court-detail/{{court.name}}"
          >Podrobnosti</a>

          <button class="button button-clear icon ion-star button-assertive"
                  ng-show="court.favourites">
          </button>

        </ion-item>
      </ion-list>

    </ion-content>
  </ion-view>


</div>
