<div class="logout-wrapper">
  <ion-view view-title="Odjava">
    <ion-content class="padding">

      <div class="list">
        <div class="racquet">
          <h3>Bookie</h3>
          <img src="../../assets/images/tennis2.png">
        </div>

        <h4 class="text-center">Si prepričan, da se želiš odjaviti?</h4>
        <p class="text-center">Hvala, ker uporabljaš aplikacijo Bookie. Vrni se kmalu!</p>

        <br>
        <button class="button button-balanced button-block"
                ng-click="logout()">Odjava</button>
      </div>

    </ion-content>
  </ion-view>
</div>
