@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

.logout-wrapper {

  ion-view {

    background-image: url('../../assets/images/logout-screen.jpg');
    //background-image: url('assets/images/backg.jpg');
  }

  h3 {

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #002e25;

  }


  .list {

    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;

  }

}
