<div class="register-wrapper">

  <ion-view view-title="Registracija">
    <!-- do you want padding? -->
    <ion-content class="padding" scroll="true">
      <!-- content goes here -->
      <div class="list">

        <div class="racquet">
          <h3>Bookie</h3>
          <img src="../../assets/images/tennis2.png">
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">E-pošta</span>
          <input type="email"
                 placeholder="E-pošta"
                 ng-model="user.email"
                 ng-required="true">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Geslo</span>
          <input type="password"
                 placeholder="Geslo"
                 autocomplete="new-password"
                 ng-model="user.password"
                 ng-required="true">
        </label>
      </div>


      <div class="btn-container">
        <div class="button button-balanced button-block" ng-click="register()">Registracija</div>
        <div class="centered">Če že imaš ustvarjen račun, se <span><a ui-sref="login">prijavi</a></span></div>
      </div>


    </ion-content>
  </ion-view>

</div>
