<div class="court-booking-wrapper">

  <ion-view view-title="Rezerviraj igrišče">
    <ion-content class="padding has-header">

      <h1 ng-repeat="court in courts | filter: {name: selectedCourt}"
          class="selected-court text-center">{{court.name}}</h1>

      <div class="row center-block">
        <div class="col col-50">
          <label class="item item-input item-select">
            <div class="input-label">Igrišče:</div>
            <select ng-model="model.court"
                    ng-options="number as number for number in courtNumber">
            </select>
          </label>
        </div>

        <div class="col col-50">
          <label class="item item-input item-select">
            <div class="input-label">Datum:</div>
            <select ng-model="model.day"
                    ng-options="day as day for day in daysArray">
            </select>
          </label>
        </div>
      </div>

      <h3 class="text-center">{{model.court}}. igrišče</h3>

      <table
             class="table table-striped">
             <!--ng-repeat="number in courtNumber"-->

        <tbody>
        <tr ng-repeat="hour in hoursArray"
            ng-class="{'booked': selectedHour.hrs === hour && selectedHour.confirmed === true}"
        >
          <td ng-click="showPopup(hour)">{{hour}}.00
          </td>
        </tr>
        </tbody>
      </table>

    </ion-content>
  </ion-view>


</div>
